@model (Answers answer , int id)
@{
    int i = 4;
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                    <li class="breadcrumb-item active">Cevap Ekle</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
     @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" bis_skin_checked="1">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Uyarı!</h5>
                @TempData["Error"]
            </div>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Cevap Ekle</h3>
                    </div>
                    <form method="POST" asp-action="Add" asp-area="Management" asp-controller="Answers">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Cevap</label>
                                <textarea asp-for="answer.AnswerDesc" class="form-control" rows="3"></textarea>
                            </div>
                            <input type="hidden" value="@Model.id" asp-for="answer.QuestionID" />


                            <div class="form-group clearfix">
                                <label for=" ">Şık : </label>
                                @foreach (var c in System.Enum.GetValues(typeof(QuizShow.Enums.AnswerSymbol)))
                                {

                                    <div class="icheck-success d-inline">

                                        <input type="radio" asp-for="answer.AnswerSymbol" value="@c" id="@("radioPrimary"+i)">
                                        <label for="@("radioPrimary"+i)">  @c</label>
                                    </div>
                                    i++;

                                }

                            </div>

                            <br />
                            <div class="form-group clearfix">
                                <label for=" ">Sorunun  Doğru Cevabı mı ? : </label>
                                @foreach (var c in System.Enum.GetValues(typeof(QuizShow.Enums.Truth)))
                                {
                                    <div class="icheck-success d-inline">
                                        <input type="radio" asp-for="answer.Truth" id="@("radioSuccess"+i)" value="@((int)c)" />

                                        <label for="@("radioSuccess"+i)" asp-for="answer.Truth">
                                            @c
                                        </label>
                                    </div> 
                                    i++;
                                }


                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Management/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
